.idea/
node_modules/
.env
temp/
/coverage/*
#build/
.nyc_output
coverage
lerna-debug.log
#**/build
/apps/server/dist/*
/apps/build/*
/shared/build/*
.DS_Store
assets/
terraform.tfvars
.terraform
*.zip
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl
